.wrapper {
  background: url(../images/bg.jpeg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: 'Carrois Gothic SC', sans-serif;
  color: #c6ced1;
}

#topImageL {
  width: 15%;
  float: left;
  margin-left: 20px;
}

#topImageR {
  width: 15%;
  float: right;
  margin-right: 20px;
}

label {
  font-size: 18px;
  color: #c6ced1;
}

#show {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#pixarSearch {
  margin: 0 auto;
  text-align: center;
  font-family: 'Carrois Gothic SC', sans-serif;
}

#gifArea {
  clear: both;
  display: inline;
  flex-wrap: wrap;
}

.pixarGiphy {
  padding: 2px;
  width: 80%;
}
